<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1>
                <a href="{{ site.baseurl }}"> {{ site.title }} </a>
            </h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <nav class="sidebar-nav">
            <!-- Posts link at the top -->
            <a
                class="sidebar-nav-item{% if page.url == '/posts/' %} active{% endif %}"
                href="/posts/"
                >Blog Posts</a
            >
            <div style="margin-bottom: 1em"></div>
            {% assign pages_list = site.pages %} {% for node in pages_list %} {%
            if node.title and node.layout == "page" and node.url != '/posts/' %}
            <a
                class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
                href="{{ node.url }}"
                >{{ node.title }}</a
            >
            {% endif %} {% endfor %}
            <div style="margin-bottom: 1em"></div>
            <a class="sidebar-nav-item" href="{{ site.github.repo }}"
                >GitHub project</a
            >
        </nav>
    </div>
</div>
